body {
  background-color: brown;
}

h1{
  margin: 0 auto;
}

.edge{
  margin-left: 5px;
}

.instructions{
  width: 100%;
  color: white;
  margin-bottom: 10px;
}

.score{
  background-color: blue;

}

.targetnumber{
  background-color: blueviolet;
}

.crystal img{
  width:100px;
  height: 100px;
}

.crystal {
  display: inline-block;
  width: auto;
}

