body {
  background-color: brown;
}

h1{
  background-color: bisque;
  padding: 5px;
  margin: 0 auto;
}

.instructions{
  width: 50%;
  color: white;
}

.score{
  background-color: aqua;

}

.targetnumber{
  background-color: blueviolet;
}