body {
  background-image: url(../images/background4.png);
}

h1{
  margin: 0 auto;
}

.edge{
  margin-left: 1px;
}

.instructions{
  width: 100%;
  color: white;
  margin-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.score{
  background-color:#3E3DA0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;

}

.targetnumber{
  background-color: blueviolet;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

.crystal img{
  width:100px;
  height: 100px;
}

.crystal {
  display: inline-block;
  width: auto;
}

.totalscore, .totalnumber{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font:bolder;
}


